doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/style.css')
    title='Vahvuus'
    script='setTimeout(function() { window.location.reload(); }, 2 * 60 * 1000);'
  body
    .error='Osallistujatietoja ei saatavilla'